<%= link_to gravatar_de(usuario_actual), usuario_actual %>
<h1>
	<%= usuario_actual.nombre %>
</h1>
<span>
	<%= link_to "Mi perfil", usuario_actual %>
</span>
<span>
	<%= pluralize(usuario_actual.mensajes.count, "mensajes") %>
</span>