<li>
      <%= gravatar_de usuario %>
      <%= link_to usuario.nombre, usuario %>
      
      <% if usuario_actual.admin? && !usuario_actual?(usuario) %>
      	| 
      <%= link_to "eliminar", usuario, method: :delete, data: { confirm: "¿Seguro que deseas eliminar al usuario?" } %>
      <% end %>
</li>