<% provide(:titulo, @usuario.nombre) %>

<div class = "row">
	<aside class = "span4">
		<section>
			<h1>
			  <%= gravatar_de @usuario %>
			  <%= @usuario.nombre %>
			</h1>
		</section>
	</aside>
</div>


