@import "bootstrap";

/* Estilo general */

$color_gris: #F2F2F2;

$color_gris_oscuro: #6E6E6E;

$color_blanco: #999;

$color_negro: #000001;

html {
	overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Estilo para texto */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #959;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Estilo para encabezado */ 

#encabezado {
  float: left;
  margin-right: 10px;
  font-size: 1.8em;
  color: $color_gris;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $color_gris;
    text-decoration: none;
  }
}

/* Estilo para pie de página */ 

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid $color_gris_oscuro;
  color: $color_blanco;
  a {
    color: $color_blanco;
    &:hover {
      color: $color_negro;
    } 
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*Otros estilos*/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 20px;
  @include box_sizing;
}

/*Barra lateral*/

aside {
  section {
    padding: 15px 0;
    border-top: 1.9px solid $color_gris;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.45em;
      text-align: left;
      letter-spacing: -1.5px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar_imagen {
  margin-right: 10px;
  float: left;
}

/*Estilo del botón para el formulario de registro*/

input, textarea, select, .uneditable-input{
  border: 1px, solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input{
  height: auto !important;
}

/* Estilo para errores */

#errores_estilo{
	color: #f00;
	ul{
		list-style: none;
		margin: 0 0 30px 0;
	}
}

.field_with_errors{
	@extend .control-group;
	@extend .error;
}

/*Estilo'para listado de usuarios*/

.listaUsuarios {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 5px 0;
    border-top: 1px solid $color_gris;
    &:last-child {
      border-bottom: 1px solid $color_gris;
    }
  }
}

/*Estilo para mensajes*/

.mensajes {
  list-style: square;
  margin: 20px 0 0 0;
  li {
  padding: 10px 0;
  border-top: 2.5px solid #dcdcdc;
  }
}

.timestamp {
  color: #bcbcbc;
}

.contenido {
display: block;
margin-bottom: 20px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

