<footer class="footer">
  Aplicación creada en <a href="http://rubyonrails.org/">Ruby on Rails.</a>
  <nav>
    <ul>
      <li><%= link_to "Acerca De",   acercade_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
      <li><a href="http://rubyonrails.org/">¿Qué hay de nuevo en Rails?</a></li>
    </ul>
  </nav>
</footer>