<% provide(:titulo, 'Ayuda')%>
<h1>Ayuda</h1>
<p>
  Esta es la página de prueba para las vistas de mi aplicación.
  Para obtener ayuda sobre Ruby on Rails, puedes visitar:
  <a href="http://rubyonrails.org"></a>
</p>